<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaceOrder</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/customer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/customer.js" defer></script>
    <script type="module" src="/modules/globals.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <header>
        <div id="page-title" class="topbar">
            <div class="left">
                <form action="/manager/" method="get">
                    <button type="submit" class="buttonnav">Manager Page</button>
                </form> 
            </div>
            <div class="left">
                <form action="/employee/" method="get">
                    <button type="submit" class="buttonnav">Employee Page</button>
                </form> 
            </div>
            <h1>Customer Page</h1>
            <div class="right">
                <div id="google_translate_element"></div>
            </div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
            </script>
        </div>
    </header>

    <div class="order-window">
        <div class="buttons-container">    
            <% Object.keys(locals.categoryGroups).forEach(groupKey => { %>
                <div class="items-category">
                    <h2><%= groupKey %></h2>
                    <div class="button-section">
                        <% var allItems = [];
                        categoryGroups[groupKey].forEach(catKey => {
                            locals.itemsByType[catKey].forEach(item => { 
                                var className = "item-button";
                                if (item.inventory == 0) {
                                    className += " out-of-stock"
                                } %>
                                <div class="<%= className %>" name="<%= item.name %>" price="<%= item.customer_price %>" item-id="<%= item.id %>">
                                    <p><%= item.name %></p>
                                </div>
                            <% })
                        }); %>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="order-log">
            <div id="item-list-container">
                <table id="item-list">
    
                </table>
            </div>
            <div id="order-report">
                <div>
                    <h2>Total: $<span id="total-price">0.00</span></h2>
                </div>
                <div class="report-button" id="submit-button">
                    <h2>Submit</h2>
                </div>
                <div class="report-button" id="cancel-button">
                    <h2>Cancel</h2>
                </div>
            </div>
        </div>
    </div>

    <iframe
        id="google_map"
        width="400"
        height="300"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDAbMr5I5wc6nMW45SCKPAuOyuDcOrzc8c
            &q=Cabo+Grill,College+Station+TX">
    </iframe>

</body>
</html>

