<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaceOrder</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/manager.css">
    <script type="text/javascript"> var restockp = <%= locals.restock_price %>;</script>
    <script src="/scripts/manager.js" defer></script>
</head>
<body>
    <div class = "topbar">
      
        <div class="left">
            <form action="/employee/" method="get">
                <button type="submit" class="buttonnav">Employee Page</button>
            </form> 
        </div>
        <div class="left">
            <form action="/customer/" method="get">
                <button type="submit" class="buttonnav">Customer Page</button>
            </form> 
        </div>
        <h1>Manager Page</h1>
        <div class="right">
            <div id="google_translate_element"></div>
        </div>

    </div>

     <div class = "restock-order">
        <h2>Restock Order</h2><br>
        <div id="restock-itemname">
            <form action="/manager" method="post">
                
                Item name:<!-- <label for="item-name">Item name:</label> -->
                <input type="text" id="item-name" class="input" name="item-name"> 
                <br><br>

                <div class="center">
                    <span class="err"><%= locals.errmsg %></span> <span class="suc"><%= locals.sucmsg %></span> 
                    <button type="submit" class="button" style="display: <%= locals.btndisp%>">Search</button>
                </div>
                
            </form>
        </div>


        <div id="restock-info" style="display: <%= locals.disp%>"> 
            <form action="/manager/0" method="post">
                Current inventory: <%= locals.inventory %> <%= locals.order_unit%> of <%= locals.name %> <br>
                Restock amount ($<%=locals.restock_price%> per <%= locals.restock_amount %> <%= locals.order_unit %>):
                <input type="number" min="1" id="restock-amt" name="restock-amt" class="input2"> <br>

                <div class="center">
                    <h3>Price: $<span id="restock-price">0.00</span><br></h3>
                    <button type="submit" class="buttongreen">Confirm</button>
                </div>
            </form>
            <div class="center">
                <form action="/manager/1" method="post">
                    <button type="submit" class="buttonred">Cancel</button>
                </form> 
            </div>

        </div> 
    </div> 

    <div class = "log">
        <h2>Order Log</h2><br>
        <table>
            <tr>
                <th>Order No.</th>
                <th style="width:25%">DateTime of Order</th>
                <th>Item Name</th>
                <th>Order Amount</th>
                <th>Cost</th>
            </tr>

            <% locals.recentRestock.forEach(order => { %>
                <tr>
                    <td><%= order.id%></td>
                    <td><%= order.time_of_order%></td>
                    <td><%= order.item_name%></td>
                    <td><%= order.amount%> <%= order.order_unit %></td>
                    <td>$<%= order.price%> </td>
                <!-- Order #<%= order.id%> [<%= order.time_of_order%>]: <b><%= order.amount%> <%= order.order_unit %> of <%=order.item_name %></b> was ordered for <b>($<%= order.price %>)</b> <br> -->
                </tr>
            <% }); %>
        </table>
    </div>

    <div class = "reports">
        <h2>Restock Report</h2>
        <br>
        <span class="suc"><%=locals.restockmsg%></span>
        <form action="/manager/restock" method="post">
            

            <button type="submit" class="buttongreen">Generate Report</button>
        </form> 
        <form action="/manager/restock-clear" method="post">
            <button type="submit" class="button">Clear</button>
        </form> 

        <table>
            <tr>
                <th>Item Name</th>
                <th>Current Inventory</th>
                <th>Minimum Inventory</th>
            </tr>
            <% locals.restock.forEach(item => { %>
                <tr>
                    <td><%= item.name%></td>
                    <td><%= item.inventory%> <%= item.order_unit %> </td>
                    <td><%= item.min_amount%> <%= item.order_unit %></td>
                </tr>
            <% }); %>
        </table>
        

            
    </div>

    <div class = "reports2">
        <h2>Sales Report</h2>
        <br>

        <form action="/manager/sale" method="post">

            Start DateTime (YYYY-MM-DD HH:MM:SS):<input type="text" id="start-date" class="input" name="start-date"> <br>
            End DateTime (YYYY-MM-DD HH:MM:SS):<input type="text" id="end-date" class="input" name="end-date"> <br>
            <span class="suc"><%=locals.salemsg%></span><span class="err"><%=locals.errmsgsale%></span> <br>

            <button type="submit" class="buttongreen">Generate Report</button>
        </form> 
        <form action="/manager/sale-clear" method="post">
            <button type="submit" class="button">Clear</button>
        </form> 

        <table>
            <tr>
                <th>Item Name</th>
                <th>Customer Order ID</th>
                <th>Customer Order DateTime</th>
                <th>Customer Order Price</th>
                <th>Employee ID</th>
            </tr>
            <% locals.sale.forEach(co => { %>
                <tr>
                    <td><%= co.name%></td>
                    <td><%= co.id%></td>
                    <td><%= co.time_of_order%></td>
                    <td>$<%= co.price%></td>
                    <td><%= co.employee_id%></td>
                </tr>
            <% }); %>
        </table>

    </div>

    <div class = "reports">
        <h2>Excess Report</h2><br>
            
        
        <form action="/manager/excess" method="post">

            Start DateTime (YYYY-MM-DD HH:MM:SS):<input type="text" id="start-date" class="input" name="start-date"> <br>
            <span class="suc"><%=locals.excessmsg%></span><span class="err"><%=locals.errmsgexcess%></span><br>
            <button type="submit" class="buttongreen">Generate Report</button>
        </form> 
        <form action="/manager/excess-clear" method="post">
            <button type="submit" class="button">Clear</button>
        </form> 

        <table>
            <tr>
                <th>Item Name</th>
                <th>Past Inventory</th>
                <th>Current Inventory</th>
                <th>Percentage Sold in Timeframe</th>
            </tr>
            <% locals.excess.forEach(invent => { %>
                <tr>
                    <td><%= invent.name%></td>
                    <td><%= invent.prev_inventory%></td>
                    <td><%= invent.curr_inventory%></td>
                    <td><%= invent.percent%>%</td>
                </tr>
            <% }); %>
        </table>
    </div>


    <div class = "reports2">
        <h2>Add Item</h2>
        <br>

        <form action="/manager/addItem" method="post">

            Item Name:<input type="text" id="name" class="input" name="name"> <br>
            Item Type: <input type="text" id="type" class="input" name="type"> <br>
            Customer Price ($): <input type="number" min="0" step="0.01" id="customer-price" name="customer-price" class="input2"> <br>
            Restock Price($): <input type="number" min="0.01" step="0.01" id="restock-price" name="restock-price" class="input2"><br>
            Order Unit: <input type="text" id="order-unit" class="input" name="order-unit"> <br>
            Customer Amount: <input type="number" min="0.01" step="0.01" id="customer-amount" name="customer-amount" class="input2"><br>
            Restock Amount: <input type="number" min="0.01" step="0.01" id="restock-amount" name="restock-amount" class="input2"><br>
            Minimum Amount: <input type="number" min="0.01" step="0.01" id="min-amount" name="min-amount" class="input2"><br>
            <span class="err"><%=locals.errmsgadd%></span><span class="suc"><%=locals.addmsg%></span><br>
            <button type="submit" class="buttongreen">Add to Menu</button>
        </form> 
        

    </div>



    <br><br>

        
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    


        
        
    </form>
</body>

</html>